<!DOCTYPE html>

<head>
        <title>Flask App</title>
        <link rel="stylesheet" type="text/css" href="Professional.css">

</head>

<header>
        
        <h1>Carl Tallon</h1>
        <a href="https://www.tudublin.ie">My College</a> <br>
        <a href="https://www.colaisteiosagainport.ie/">My Secondary School</a> <br>
        <a href = "https://www.carltallon.ie">Personal Website</a> <br>
        <hr>
</header>

<body>

        <h3><b>Resume</b></h3>
        <h4><i>Education</i></h4>
        <h5>
                
                2020 -- 2024 	<br>		
                Computer Science (Infrastructure) Technology University Dublin <br>
                I am currently studying Computer Science with a focus on infrastructure in the Technology University of Dublin. This course focuses on the design and development for applications in all areas of technology. I have studied languages such as C, Python, Java, SQL and HTML. I currently have a 70% grade average in my course. I have taken modules such as Algorithms, System infrastructure, Maths and Human Computer Interactions.
        </h5>

        <h4><i>Work Experience</i></h4>
        <h5>    Sales Assistant <br>
                Gala Killenard (March 2021 – Present)<br>
                Tasks<br>
                Keyholder – Perform open and closing operations<br>
                Upsold items within shop to customers<br>
                Helped customers with queries and operated tills.<br><br>
                
                Credit Controller<br>
                Bunzl Ireland (June 2020 – Sept 2021) <br>
                Tasks<br>
                Communicated with clients about Credit deadlines and payment options. <br>
                Took online and over the phone card payments. <br>
                Worked with Excel and X3 to keep track of credit records.<br>
        </h5>


        <h4><i>Projects</i></h4>
                <ul>
                        <li>MY PERSONAL WEBSITE (HTML, CSS, JAVASCRIPT)</li>
                        <ul>
                                <li>I built my personal website over a series of months so that I can have a place to present all my projects and contact information</li>
                        </ul>
                        <li>ATM (C)</li>
                          <ul>
                            <li>In first year, I built a functioning ATM menu which allowed the user to check and update their balance. This also included pin verification.</li>
                          </ul>
                        <li>ARTICLE COMPARISON PROGRAM (JAVA)</li>
                        <ul>
                                <li>As a project in second year, I built an article comparison program. The program analyses two user inputted files to see if they are about the same topic. The program writes the results to a local file and included a Graphical User Interface.</li>
                              </ul>
                      </ul>

                <h4>My Timetable</h4>
        <table>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <td>Web Development</td>
                    <td>Networking</td>
                    <td>Programming</td>
                    <td>Maths</td>
                    <td>Networking</td>
                </tr>
                <tr>
                    <td>Maths</td>
                    <td>Maths</td>
                    <td>Programming</td>
                    <td>Networking</td>
                    <td>Web Development</td>
                </tr>
                <tr>
                    <td>Web development</td>
                    <td>Web Development</td>
                    <td>Programming</td>
                    <td>Networking</td>
                    <td>Maths</td>
                </tr>
            </table>

        <hr>

        <footer>Carl Tallon</footer>

</body>
